<div class="max-w-sm mx-auto bg-white shadow py-5 px-6">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="mt-6">
      <%= f.label :full_name, class: 'block text-sm font-medium text-slate-700' do %>
        <span class="block text-sm font-medium text-slate-700">
          <%= f.object.class.human_attribute_name(:full_name) %>
        </span>
          <%= f.text_field :full_name, autocomplete: "name", placeholder: 'Введите ФИО...',
                           class: "mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm
                       placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                       disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
                       invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500
                       focus:invalid:ring-pink-500" %>
      <% end %>
    </div>

    <div class="mt-6">
      <%= f.label :address, class: 'block text-sm font-medium text-slate-700' do %>
        <span class="block text-sm font-medium text-slate-700">
          <%= f.object.class.human_attribute_name(:address) %>
        </span>
        <%= f.text_field :address, autocomplete: "street-address", placeholder: 'Введите aдресс...',
                         class: "mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm
                       placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                       disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
                       invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500
                       focus:invalid:ring-pink-500" %>
      <% end %>
    </div>

    <div class="mt-6">
      <%= f.label :postal_code, class: 'block text-sm font-medium text-slate-700' do %>
      <span class="block text-sm font-medium text-slate-700">
        <%= f.object.class.human_attribute_name(:postal_code) %>
      </span>
        <%= f.number_field :postal_code, autocomplete: "postal-code", placeholder: 'Введите индекс...',
                         class: "mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm
                     placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                     disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
                     invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500
                     focus:invalid:ring-pink-500" %>
      <% end %>
    </div>

    <div class="mt-6">
      <%= f.label :phone_number, class: 'block text-sm font-medium text-slate-700' do %>
      <span class="block text-sm font-medium text-slate-700">
        <%= f.object.class.human_attribute_name(:phone_number) %>
      </span>
        <%= f.number_field :phone_number, autocomplete: "tel", placeholder: 'Введите телефон...',
                           class: "mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm
                     placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                     disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
                     invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500
                     focus:invalid:ring-pink-500" %>
      <% end %>
    </div>

    <div class="actions">
      <br />
      <%= f.submit "Обновить", class: "bg-sky-500 hover:bg-sky-700 px-5 py-2.5 text-sm leading-5 rounded-md font-semibold text-white" %>
    </div>
  <% end %>
</div>

<%= link_to 'Мои заказы', orders_path %>

<%= link_to "Back", :back %>
