<% content_for :style, "background: transparent;" %>

<%= render '/admin/dashboard/chart_revenue' %>

<div class="flex">
  <%= render '/admin/dashboard/chart_orders' %>

  <%= render '/admin/dashboard/chart_sold' %>

  <%= render '/admin/dashboard/chart_repeat' %>
</div>

<%= render '/admin/dashboard/chart_users' %>

<p class="my-10 text-gray-500 text-center text-sm leading-5">© 2023-2024 <a href="https://osama.agency/" class="" target="_blank">Osama.agency</a>. All rights reserved.</p>
