<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" id=<%= dom_id resource %>>
  <td class="px-6 py-4">
    <%= resource.id %>
  </td>
  <td class="px-6 py-4">
    <%= resource.name %>
  </td>
  <td class="px-6 py-4">
    <%= resource.number %>
  </td>
  <td class="px-6 py-4">
    <%= resource.fio %>
  </td>
  <td class="px-6 py-4">
    <% if resource.active %>
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
      </svg>
    <% else %>
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <rect width="12" height="12" x="6" y="6" stroke="currentColor" stroke-linejoin="round" stroke-width="2" rx="1"/>
      </svg>
    <% end %>
  </td>
  <td class="px-6 py-4">
    <%= format_date resource.created_at %>
  </td>
  <td class="flex items-center px-6 py-4">
    <%= link_to edit_admin_bank_card_path(resource),
                data: { controller: 'modal-btn confirm', action: 'click->modal-btn#open click->confirm#call',
                        turbo_prefetch: false, confirm: 'Внимание изменения повлияют на статистику! Вы уверены, что хотите изменить банковскую карту?'},
                class: 'btn' do %>
      <%= render Admin::IconComponent.new name: :edit %>
    <% end %>
  </td>
</tr>
