<% content_for :title, 'Банковские карты' %>

<div class="pt-6 px-4">
  <h1 class="text-xl leading-8 font-semibold text-gray-900 dark:text-white mb-4"><%= content_for(:title) %></h1>

  <div class="flex">
    <%= link_to 'Создать', new_admin_bank_card_path, class: blue_btn_styles,
                data: { controller: 'modal-btn', action: 'click->modal-btn#open', turbo_prefetch: false } %>
    <%= link_to admin_dashboard_show_path, class: blue_btn_styles + ' flex' do %>
      <svg class="w-5 h-5 mr-1 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.6 16.733c.234.269.548.456.895.534a1.4 1.4 0 0 0 1.75-.762c.172-.615-.446-1.287-1.242-1.481-.796-.194-1.41-.861-1.241-1.481a1.4 1.4 0 0 1 1.75-.762c.343.077.654.26.888.524m-1.358 4.017v.617m0-5.939v.725M4 15v4m3-6v6M6 8.5 10.5 5 14 7.5 18 4m0 0h-3.5M18 4v3m2 8a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"/>
      </svg>
      <span>Статистика</span>
    <% end %>
  </div>
</div>

<div id="orders" class="pt-6">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            <%= sort_link(@q_bank_cards, :id, 'ИД', data: { turbo_prefetch: false }) %>
          </th>
          <th scope="col" class="px-6 py-3">
            <%= sort_link(@q_bank_cards, :name, 'Название банка', data: { turbo_prefetch: false }) %>
          </th>
          <th scope="col" class="px-6 py-3">Номер карты/телефона</th>
          <th scope="col" class="px-6 py-3">
            <%= sort_link(@q_bank_cards, :fio, 'ФИО', data: { turbo_prefetch: false }) %>
          </th>
          <th scope="col" class="px-1 py-3">
            <%= sort_link(@q_bank_cards, :active, 'Активирован', data: { turbo_prefetch: false }) %>
          </th>
          <th scope="col" class="px-6 py-3">
            <%= sort_link(@q_bank_cards, :created_at, 'Дата добавления', data: { turbo_prefetch: false }) %>
          </th>
          <th scope="col" class="px-6 py-3">Действия</th>
        </tr>
      </thead>

      <tbody><%= render @bank_cards %></tbody>
    </table>
  </div>

  <%= render partial: '/layouts/partials/admin/pagy' %>
</div>

