<%= form_with model: @review, url: (method == :patch ? admin_review_path(@review) : admin_reviews_path),
              data: { action: "submit->modal#close" }, class: 'admin-form' do |form| %>
  <div class="flex gap-4">
    <div class="w-1/2">
      <div class="mb-5">
        <%= form.label :rating %>
        <%= form.number_field :rating, max: 5, min: 1, required: true, value: form.object.rating.zero? ? 5 : form.object.rating %>
      </div>
    </div>

    <div class="w-1/2">
      <div class="mb-5">
        <%= form.label :user_id %>
        <%= form.number_field :user_id, max: User.last.id, min: 1, required: true %>
      </div>
    </div>
  </div>

  <div class="mb-5">
    <%= form.label :product_id %>
    <% products = (Product.find_by(id: Setting.fetch_value(:root_product_id))&.descendants || Product.all).map { |i| [i.name, i.id] } %>
    <%= form.select :product_id, products, { selected: form.object.product_id } %>
  </div>

  <div class="mb-5">
    <%= form.label :content %>
    <%= form.text_area :content, required: true %>
  </div>

  <div class="mb-5">
    <%= form.label :photos, 'Фотографии' %>
    <%= form.file_field :photos, accept: 'image/jpeg,image/png,image/webp', multiple: true %>
  </div>

  <% if @review.photos.attached? %>
    <div class="flex gap-1 mb-5" data-controller="gallery">
      <% @review.photos.each do |photo| %>
        <%= link_to storage_path(photo.variant(:big)), data: { fancybox: 'gallery' } do %>
          <div class="edit-image-preview" id="<%= "attachment_#{photo.id}" %>" data-controller="attachment" data-attachment-id-value="<%= photo.id %>">
            <div style="background-image: url('<%= storage_path(photo.variant(:big), true) %>'); background-size: cover; border-radius: 4px;
              background-repeat: no-repeat; background-position: center; width: 100px; height: 100px"></div>
            <button data-action="click->attachment#delete" class="shadow-sm absolute -bottom-full -right-full text-xs rounded bg-white cursor-pointer px-1">Удалить</button>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="mb-5 flex items-center gap-1">
    <%= form.check_box :approved, { class: 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded
                                              focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800
                                              dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700
                                              dark:border-gray-600' } %>
    <%= form.label :approved, "Одобрено", class: 'ml-2 text-sm font-medium text-gray-900 dark:text-white' %>
  </div>

  <%= form.submit "Сохранить", class: 'btn' %>
<% end %>
