<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
  <td class="p-2"><%= idx + 1 %></td>

  <td class="p-2">
    <div class="product-img">
      <% if order_item.product.image.attached? %>
        <%= image_tag storage_path(order_item.product.image), alt: order_item.product.name, style: 'width: 36px;' %>
      <% else %>
        <p>No image</p>
      <% end %>
    </div>
  </td>
  <th scope="row" class="p-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= order_item.product.name %>
  </th>
  <td class="p-2"><%= order_item.quantity %>шт.</td>

  <td class="p-2"><%= form_price order_item.price %></td>
</tr>
