<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" id=<%= dom_id message %>>
  <td class="w-4 p-4">
    <div class="flex items-center">
      <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
    </div>
  </td>

  <td class="px-6 py-4"><%= message.id %></td>

  <th scope="row" class="px-6 py-4 whitespace-nowrap ">
    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
      <%= message.user.full_name %>
    </p>
    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
      <%= link_to "@#{message.user.username}", "https://t.me/#{message.user.username}", target: "_blank" if message.user.username.present? %>
    </p>
  </th>

  <td class="px-6 py-4"><%= message.text %></td>

  <td class="px-6 py-4"><%= format_date message.created_at %></td>

  <td class="flex items-center px-6 py-4"></td>
</tr>