<%= form_with(model: current_user, url: orders_path, method: :post,
              data: { controller: 'dadata' }, class: 'profile-form', id: 'user-form') do |form| %>
  <div class="main-block mb-5">
    <%= render partial: 'devise/registrations/form_items', locals: { f: form } %>

    <label class="checkbox-label">
      <%= form.check_box :agreement, class: 'form-check-input', checked: true %>
      <div class="custom-checkbox"></div>

      <div>
        <div>Я принимаю условия</div>
        <%= link_to 'пользовательского соглашения', '#', class: 'agreement',
                    data: { controller: :agreement, action: "click->agreement#open" } %>
      </div>
    </label>
  </div>

  <div id="react-cart-summary"></div>

  <div class="mb-5">
    <%= form.submit "Оформить заказ", class: "btn btn-big" %>
  </div>
<% end %>

<div class="hidden" id="agreement">
  <% @contract = YAML.load_file(Rails.root.join("offer.yml"))["offer"] %>
  <h2 class="mb-5">Пользовательское соглашение</h2>

  <div class="overflow-y-scroll -me-2 pe-2" style="height: 72vh">
    <p><%= @contract["intro"].gsub('%{bot}', settings[:tg_main_bot]) %></p><br>

    <% @contract["sections"].each_with_index do |section, idx| %>
      <p><%= section["title"] %></p><br>
      <% section["items"].each_with_index do |item, i| %>
        <p><%= (item.include?("•") ? '' : "#{idx+1}.#{i+1}. ") + item.gsub('%{bot}', settings[:tg_main_bot]) %></p><br>
      <% end %>
    <% end %>
    <p><%= @contract['pss'] %></p><br>
    <div class="btn btn-big text-center" onclick="closeModal()">Закрыть</div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form.profile-form');
        const checkbox = document.getElementById('user_agreement');
        const checkmark = document.querySelector('.checkbox-label');

        form.addEventListener('submit', function(event) {
            if (!checkbox.checked) {
                checkmark.classList.add('error');
                event.preventDefault();
            }
        });

        checkbox.addEventListener('change', function() {
            if (checkbox.checked) checkmark.classList.remove('error');
        });
    });
</script>
