<div data-controller="agreement">
  <div class="form" data-agreement-target="form">
    <%= form_with(model: current_user, url: orders_path, method: :post, class: 'mb-3',
                  data: { controller: "dadata" }) do |f| %>
      <div class="">
        <%= f.text_field :middle_name, autocomplete: "name", placeholder: 'Фамилия', class: "input-str" %>
      </div>

      <div class="mt-6">
        <%= f.text_field :first_name, autocomplete: "name", placeholder: 'Имя', class: "input-str" %>
      </div>

      <div class="mt-6">
        <%= f.text_field :last_name, autocomplete: "name", placeholder: 'Отчество', class: "input-str" %>
      </div>

      <div class="mt-6">
        <%= f.text_field :phone_number, autocomplete: "tel", placeholder: 'Номер телефона', class: "input-str", minlength: 22,
            data: { controller: "phone_mask", action: "input->phone_mask#mask blur->phone_mask#check" }%>
      </div>

      <div class="mt-6 address-wrapper">
        <%= f.text_field :address, autocomplete: "city-address", placeholder: 'Регион, Город, Поселок',
                         class: "input-str", data: { dadata_target: "address", action: "input->dadata#search" } %>
        <div class="suggestions-wrapper scrollable" data-dadata-target="suggestions">
          <div class="suggestions-suggestions" style="display: none;"></div>
        </div>
      </div>

      <div class="mt-6 address-wrapper">
        <%= f.text_field :street, autocomplete: "street-address", placeholder: 'Улица',
                         class: "input-str", data: { dadata_target: "street", action: "input->dadata#search_street" } %>
        <div class="suggestions-wrapper scrollable" data-dadata-target="suggestions_street">
          <div class="suggestions-suggestions" style="display: none;"></div>
        </div>
      </div>

      <div class="flex gap-4">
        <div class="w-1/2">
          <div class="mt-6">
            <%= f.text_field :home, data: { dadata_target: "home" }, placeholder: 'Дом', class: "input-str" %>
          </div>
        </div>
        <div class="w-1/2">
          <div class="mt-6">
            <%= f.text_field :apartment, data: { dadata_target: "apartment" }, placeholder: 'Квартира', class: "input-str" %>
          </div>
        </div>
      </div>

      <div class="flex gap-4">
        <div class="w-1/2">
          <div class="mt-6">
            <%= f.text_field :build, data: { dadata_target: "build" }, placeholder: 'Корпус', class: "input-str" %>
          </div>
        </div>
        <div class="w-1/2">
          <div class="mt-6">
            <%= f.number_field :postal_code, autocomplete: "postal-code", data: { dadata_target: "post_code" },
                               placeholder: 'Индекс', class: "input-str", max: 999999 %>
          </div>
        </div>
      </div>

      <div class="mt-6 flex items-center gap-4">
        <%= f.check_box :agreement, class: 'form-check-input', checked: true, data: { agreement_target: "check_box" } %>

        <%= link_to '#', class: 'agreement', data: { action: "click->agreement#visible" } do %>
          Я принимаю условия пользовательского соглашения
        <% end %>
      </div>

      <div class="mt-6">
        <%= f.submit "Продолжить", class: "btn" %>
      </div>
    <% end %>
  </div>

  <div class="agreement-text scrollable" data-agreement-target="agreement">
    <div class="close" data-action="click->agreement#close"></div>
    <p>ДОГОВОР ОФЕРТЫ</p><br>
    <p>Настоящий договор является официальным предложением (публичной офертой) продавца, осуществляющего продажу товаров через Telegram-бот t.me/strattera_bot, в адрес любого физического или юридического лица, имеющего намерение приобрести товары на условиях, изложенных ниже.</p><br>
    <p>1. Общие положения</p><br>
    <p>1.1. Настоящий договор регулирует отношения между Продавцом и Покупателем при продаже товаров дистанционным способом через Telegram-бот.</p><br>
    <p>1.2. Оплата заказа Покупателем является полным и безоговорочным принятием условий настоящего договора оферты.</p><br>
    <p>2. Предмет договора</p><br>
    <p>2.1. Продавец обязуется передать в собственность Покупателя товары, а Покупатель обязуется оплатить и принять товары на условиях настоящего договора.</p><br>
    <p>3. Порядок оформления и оплаты заказа</p><br>
    <p>3.1. Оформление заказа и его оплата осуществляются по уникальной ссылке, отправленной Покупателю в чат через Telegram-бот t.me/strattera_bot. Данная ссылка является индивидуальной для каждого клиента.</p><br>
    <p>3.2. Покупатель переходит по уникальной ссылке, где заполняет необходимые данные для оформления заказа и производит оплату.</p><br>
    <p>3.3. Оплата товара осуществляется в виде 100% предоплаты перед отправкой товара.</p><br>
    <p>4. Доставка товара</p><br>
    <p>4.1. Доставка товара осуществляется по указанному Покупателем адресу после получения полной оплаты.</p><br>
    <p>5. Возврат товара</p><br>
    <p>5.1. Возврат товара возможен только при условии видеофиксации процесса распаковки посылки в почтовом отделении или в присутствии курьера транспортной компании.</p><br>
    <p>5.2. Для оформления возврата Покупатель обязан предоставить видеофиксацию товара в почтовом отделении или в присутствии курьера транспортной компании и связаться с Продавцом через Telegram-бот.</p><br>
    <p>6. Права и обязанности сторон</p><br>
    </p>6.1. Продавец обязуется:</p><br>
    <p>•  Своевременно отправить оплаченный товар Покупателю.</p><br>
    <p>•  Предоставить достоверную информацию о товаре.</p><br>
    <p>6.2. Покупатель обязуется:</p><br>
    <p>•  Предоставить точные данные для доставки.</p><br>
    <p>•  Оплатить стоимость товара в полном объеме до его отправки.</p><br>
    <p>•  Использовать полученную уникальную ссылку только для личного оформления заказа.</p><br>
    <p>7. Ответственность сторон</p><br>
    <p>7.1. Стороны несут ответственность за невыполнение или ненадлежащее выполнение своих обязательств в соответствии с законодательством Российской Федерации.</p><br>
    <p>8. Согласие с условиями договора</p><br>
    <p>8.1. Оплата заказа Покупателем посредством уникальной ссылки означает полное согласие с условиями настоящего договора оферты.</p><br>
    <p>9. Прочие условия</p><br>
    <p>9.1. Продавец оставляет за собой право вносить изменения в настоящий договор оферты без предварительного уведомления Покупателя.</p><br>
    <p>9.2. Настоящий договор оферты вступает в силу с момента его размещения на Telegram-боте t.me/strattera_bot и действует до момента его отзыва Продавцом.</p><br>
    <p>10. Контактная информация</p><br>
    <p>•  Telegram-бот: t.me/strattera_bot</p><br>
    <p>Продавец и Покупатель гарантируют, что все условия настоящего договора им понятны, и они принимают их безусловно и в полном объеме.</p><br>

    <%#= link_to "Принять", '#', class: "btn mt-3", style: 'display: inline-block', data: { action: "click->agreement#agree" } %>
  </div>
</div>
