<%= turbo_frame_tag :notices, class: "notice-group" do %>
  <% flash.each do |key, value| %>
    <% [value].flatten.each do |notices| %>
      <%= render partial: '/notices/notice', locals: { notices: notices, key: key } %>
    <% end %>
  <% end %>
<% end %>

<div class="header">
  <div class="container mx-auto">
    <div class="flex items-center justify-between">
      <% if user_signed_in? %>
        <%= link_to edit_user_registration_path, id: "user", title: current_user.first_name || current_user.username do %>
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24.6665 26.5963C30.7385 26.5963 35.6665 28.7792 35.6665 31.4625V36.0833H13.6665V31.4625C13.6665 28.7792 18.5945 26.5963 24.6665 26.5963ZM34.1998 31.4625C34.1998 29.5438 29.9318 27.9867 24.6665 27.9867C19.4012 27.9867 15.1332 29.5438 15.1332 31.4625L15.0469 34.6112H34.1998V31.4625ZM24.6665 14.0833C26.0279 14.0833 27.3336 14.596 28.2963 15.5086C29.259 16.4212 29.7998 17.6589 29.7998 18.9495C29.7998 20.2401 29.259 21.4778 28.2963 22.3904C27.3336 23.303 26.0279 23.8157 24.6665 23.8157C23.3051 23.8157 21.9994 23.303 21.0367 22.3904C20.074 21.4778 19.5332 20.2401 19.5332 18.9495C19.5332 17.6589 20.074 16.4212 21.0367 15.5086C21.9994 14.596 23.3051 14.0833 24.6665 14.0833ZM24.6665 15.4737C23.694 15.4737 22.7614 15.8399 22.0738 16.4917C21.3861 17.1436 20.9998 18.0276 20.9998 18.9495C20.9998 19.8713 21.3861 20.7554 22.0738 21.4073C22.7614 22.0591 23.694 22.4253 24.6665 22.4253C25.639 22.4253 26.5716 22.0591 27.2592 21.4073C27.9469 20.7554 28.3332 19.8713 28.3332 18.9495C28.3332 18.0276 27.9469 17.1436 27.2592 16.4917C26.5716 15.8399 25.639 15.4737 24.6665 15.4737Z" fill="#4784FC"/>
            <circle cx="25" cy="25" r="24.5" stroke="#4784FC"/>
          </svg>
        <% end %>
      <% else %>
        <div style="width: 50px; height: 50px"></div>
      <% end %>

      <%= link_to 'strattera bot', root_path, class: 'logo' %>

      <%=link_to current_user ? cart_path(id: current_user.cart) : "#"  do %>
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_0_1)">
            <path d="M36.7801 19.4883C36.7027 19.3784 36.6 19.2886 36.4807 19.2267C36.3614 19.1647 36.229 19.1324 36.0946 19.1323H18.1877L16.8322 14.4579C16.3006 12.6173 15.0375 12.4185 14.5195 12.4185H10.9053C10.442 12.4185 10.0674 12.7936 10.0674 13.2564C10.0674 13.7192 10.4424 14.0942 10.9052 14.0942H14.519C14.6333 14.0942 14.9822 14.0942 15.2202 14.9164L19.8832 32.0534C19.9844 32.415 20.3139 32.6647 20.6898 32.6647H32.0796C32.4331 32.6647 32.7486 32.4432 32.8681 32.1104L36.8826 20.2536C36.975 19.9966 36.9366 19.7106 36.7801 19.4883H36.7801ZM31.4899 30.9895H21.3257L18.6586 20.8084H34.9033L31.4899 30.9895ZM29.8282 34.3628C28.663 34.3628 27.7188 35.307 27.7188 36.4722C27.7188 37.6374 28.663 38.5815 29.8282 38.5815C30.9934 38.5815 31.9376 37.6374 31.9376 36.4722C31.9376 35.307 30.9934 34.3628 29.8282 34.3628ZM22.2344 34.3628C21.0692 34.3628 20.1251 35.307 20.1251 36.4722C20.1251 37.6374 21.0692 38.5815 22.2344 38.5815C23.3997 38.5815 24.3438 37.6374 24.3438 36.4722C24.3438 35.307 23.3997 34.3628 22.2344 34.3628Z" fill="#4784FC"/>
          </g>
          <circle cx="25" cy="25" r="24.5" stroke="#4784FC"/>
          <defs>
            <clipPath id="clip0_0_1">
              <rect width="27" height="27" fill="white" transform="translate(10 12)"/>
            </clipPath>
          </defs>
        </svg>
      <% end %>
    </div>
  </div>
</div>
