<%= form_with model: @mailing, url: admin_mailings_path do |form| %>
  <div class="mb-4">
    <%= form.label :filter, "Выберите категорию пользователей" %><br>
    <%= form.select :filter, [["Клиенты с заказами", "ordered"],
                              ["Клиенты без заказов", "no_ordered"],
                              ["Все клиенты", "all"]] %>
  </div>

  <div class="mb-4">
    <%= form.label :message, "Сообщение" %><br>
    <%= form.text_area :message, rows: 4 %>
  </div>

  <div class="mb-4">
    <%= form.label :scheduled_at, "Время отправки (YYYY-MM-DD HH:MM)" %><br>
    <%= form.text_field :scheduled_at, placeholder: "2024-12-20 14:30" %>
  </div>

  <div class="mb-4">
    <%= form.submit "Запустить рассылку", class: "px-4 py-2 bg-blue-500 text-white font-semibold rounded" %>
  </div>
<% end %>