<%= form_with model: @mailing, url: admin_mailings_path, class: "max-w-md mx-auto" do |form| %>
  <div class="mb-5">
    <%= form.label :target,
                   class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.select :target, Mailing.targets.keys[0..-1].map { |target| [I18n.t("target.#{target}"), target] },
                    { include_blank: "Выберите категорию пользователей" }, required: true,
                    class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="mb-5">
    <div class="mb-5">
      <%= form.label :send_at, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.text_field :send_at, disabled: true, value: 'Сейчас', class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>
  </div>

  <div class="mb-5">
    <%= form.label :message, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"  %>
    <%= form.text_area :message, rows: 4, required: true,
                       class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="mb-5 hidden">
    <%= form.label :scheduled_at, "Время отправки (YYYY-MM-DD HH:MM)",
                   class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"  %>
    <%= form.text_field :scheduled_at, placeholder: "2024-12-20 14:30",
                        class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="mb-5">
    <%= form.label :attachment, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= form.file_field :attachment, accept: 'image/jpeg,image/png,image/webp,video/mp4,video/mpeg,video/quicktime',
                        class: 'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:shadow-sm-light' %>
  </div>

  <div>
    <%= form.submit "Запустить рассылку", class: blue_btn_styles %>
  </div>
<% end %>
