<%= form_with model: @mailing, url: admin_mailings_path, class: "max-w-md mx-auto" do |form| %>
  <div class="mb-5">
    <%= form.label :filter, "Фильтр",
                   class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.select :filter, Mailing::FILTERS[0...-1].map { |filter| [I18n.t("filters.#{filter}"), filter] },
                    { include_blank: "Выберите категорию пользователей" }, required: true,
                    class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="mb-5">
    <%= form.label :message, "Сообщение", required: true,
                   class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"  %>
    <%= form.text_area :message, rows: 4,
                       class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="mb-5 hidden">
    <%= form.label :scheduled_at, "Время отправки (YYYY-MM-DD HH:MM)",
                   class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"  %>
    <%= form.text_field :scheduled_at, placeholder: "2024-12-20 14:30",
                        class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div>
    <%= form.submit "Запустить рассылку", class: blue_btn_styles %>
  </div>
<% end %>
