<div id="<%= dom_id cart_item %>" class="cart-item">
  <div class="basis-1/3">
    <%= link_to format_name(cart_item.product.name), product_path(cart_item.product), data: { turbo_prefetch: false } %>
  </div>
  <div class="quantity">
    <% if cart_item.product.name == 'Доставка' %>
      <span>Услуга</span>
    <% else %>
      <%= button_to '-', cart_item_path(id: cart_item.id), params: { quantity: cart_item.quantity - 1 }, method: :patch, class: 'plus' %>
      <div class="num"><%= cart_item.quantity %></div>
      <%= button_to '+', cart_item_path(id: cart_item.id), params: { quantity: cart_item.quantity + 1 }, method: :patch, class: 'plus' %>
    <% end %>
  </div>
   <div class="">
     <%= cart_item.product.price.to_i %>₽
   </div>
</div>
