<div class="product-wrapper">
  <div class="product">
    <h1 class="title-h">Опрос</h1>
    <%= form_with(model: Answer, url: add_answers_path, data: { turbo: false }) do |form| %>

      <% @questions.each do |question| %>
        <div class="mb-5">
          <%= form.label "question_#{question.id}".to_sym, "#{question.text}", class: "block mb-2 text-sm font-medium !text-white" %>
          <% if question.answer_options.any? %>
            <div class="space-y-2">
              <% question.answer_options.each do |option| %>
                <div class="flex items-center">
                  <%= form.radio_button "question_#{question.id}_options", option.id, required: true, id: "question_#{question.id}_option_#{option.id}", class: 'text-sm rounded-lg border-gray-600 ring-gray-600' %>
                  <%= form.label "question_#{question.id}_option_#{option.id}", option.text, class: 'ml-2 text-sm text-white' %>
                </div>
              <% end %>
            </div>
          <% else %>
            <%= form.text_field "question_#{question.id}", value: '', required: true, minlength: 2, class: 'border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 ring-gray-600 placeholder-gray-400 text-white focus:outline-none focus:ring-blue-500 focus:border-blue-500' %>
          <% end %>
        </div>
      <% end %>

      <div class="mb-5">
        <%= form.label :email, 'Ваш Email', class: "block mb-2 text-sm font-medium !text-white" %>
        <%= form.email_field :email, value: presence_email, autocomplete: "email", required: true, class: 'border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 ring-gray-600 placeholder-gray-400 text-white focus:outline-none focus:ring-blue-500 focus:border-blue-500' %>
      </div>

      <div class="">
        <%= form.submit "Сохранить", class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>