<tr id="<%= dom_id resource %>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
  <td class="px-6 py-4">
    <%= resource.id %>
  </td>
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= resource.variable %>
  </th>
  <td class="px-6 py-4 whitespace-normal">
    <%= resource.value %>
  </td>
  <td class="px-6 py-4">
    <%= resource.description %>
  </td>
  <td class="flex px-6 py-4 gap-2">
    <%= link_to edit_admin_setting_path(resource), class: 'btn',
                data: { controller: 'modal-btn', action: 'click->modal-btn#open', turbo_prefetch: false } do %>
      <%= render Admin::IconComponent.new name: :edit %>
    <% end %>

    <%= button_to admin_setting_path(resource), method: :delete, class: 'btn btn-danger',
                  data: { confirm: 'Вы уверены, что хотите удалить данную настройку?',
                          controller: 'confirm', action: 'click->confirm#call' } do %>
      <%= render Admin::IconComponent.new name: :trash %>
    <% end %>
  </td>
</tr>
