<%= render '/layouts/partials/notices' %>

<nav class="nav-bar">
  <div class="nav-wrapper">
    <div class="flex justify-between items-center">
      <div class="flex items-center justify-start">
        <button class="btn-menu">
          <%= image_tag image_path('admin/menu.svg') %>
        </button>
        <%= link_to '/admin' do %>
          <%= image_tag image_path('admin/logo.svg') %>
        <% end %>
        <div style="height: 46px;"></div>
      </div>
      <div class="flex items-center">
        <div class="flex items-center" style="margin-right: 5px;">
          <div style="margin-right: 5px;">
            Hello<span style="font-weight: bold;"> <%= current_user.email %></span>!
          </div>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
        </div>
        <div data-action="click->dark#change">dark</div>
      </div>
    </div>
  </div>
</nav>
