<div class="pt-6 px-4">
  <h1 class="text-xl leading-8 font-semibold text-gray-900 dark:text-white mb-4">Товары</h1>

  <%= link_to 'Создать', new_admin_product_path, class: blue_btn_styles,
              data: { controller: 'modal-btn', action: 'click->modal-btn#open', turbo_prefetch: false } %>

  <div class="border-b mt-4 dark:bg-gray-800 dark:border-gray-700"></div>

  <div class="mt-4">
    <%= form_with url: admin_products_path, method: :get, id: 'filter-form', class: 'flex' do |form| %>
      <div class="me-4 text-sm font-medium text-gray-900 dark:text-gray-300 hidden md:block">Показывать только:</div>

      <div class="flex items-center me-4">
        <%= form.radio_button :filter, 'all', checked: session[:filter] == 'all' || session[:filter].blank?, class: 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600' %>
        <%= form.label :filter_all, 'Все', class: 'ms-2 text-sm font-medium text-gray-900 dark:text-gray-300 cursor-pointer' %>
      </div>

      <div class="flex items-center me-4">
        <%= form.radio_button :filter, 'descendants', checked: session[:filter] == 'descendants', class: 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600' %>
        <%= form.label :filter_descendants, 'Товары', class: 'ms-2 text-sm font-medium text-gray-900 dark:text-gray-300 cursor-pointer' %>
      </div>

      <div class="flex items-center me-4">
        <%= form.radio_button :filter, 'children', checked: session[:filter] == 'children', class: 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600' %>
        <%= form.label :filter_children, 'Категории', class: 'ms-2 text-sm font-medium text-gray-900 dark:text-gray-300 cursor-pointer' %>
      </div>

      <%= form.submit 'Фильтровать', style: 'display: none;' %>
    <% end %>
  </div>

  <script>
      document.querySelectorAll('input[type="radio"][name="filter"]').forEach((radio) => {
          radio.addEventListener('change', () => { document.getElementById('filter-form').submit(); });
      });
  </script>
</div>

<div id="products" class="pt-6">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="p-4">
            <div class="flex items-center">
              <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="checkbox-all-search" class="sr-only">checkbox</label>
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <%= sort_link(@q_products, :id, 'ИД', data: { turbo_prefetch: false }) %>
          </th>

          <th scope="col" class="px-6 py-3">Картинка</th>

          <th scope="col" class="px-6 py-3">
            <%= sort_link(@q_products, :name, 'Название', data: { turbo_prefetch: false }) %>
          </th>
          <th scope="col" class="px-6 py-3">
            <%= sort_link(@q_products, :stock_quantity, 'Остаток', data: { turbo_prefetch: false }) %>
          </th>

          <th scope="col" class="px-6 py-3">Старая цена</th>

          <th scope="col" class="px-6 py-3">
            <%= sort_link(@q_products, :price, 'Цена', data: { turbo_prefetch: false }) %>
          </th>
          <th scope="col" class="px-6 py-3">
            <%= sort_link(@q_products, :ancestry, 'Категория', data: { turbo_prefetch: false }) %>
          </th>

          <th scope="col" class="px-6 py-3">Действия</th>
        </tr>
      </thead>

      <tbody><%= render @products %></tbody>
    </table>
  </div>

  <%= render partial: '/layouts/partials/admin/pagy' %>
</div>
