<!DOCTYPE html>
  <html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Сбросить пароль</title>
  </head>
  <body style="margin: 0; padding: 0; background-color: #ffffff; font-family: Arial, sans-serif;">
    <table align="center" width="100%" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: auto;">
      <tr>
        <td style="padding: 30px; text-align: center; background-color: #48C928; color: #ffffff;">
          <img src="https://<%= ENV.fetch('HOST') %>/strattera_logo.svg" alt="S" width="100" height="100" style="width: 36px; height: 36px;">
          <h1 style="margin: 0; font-size: 22px; letter-spacing: 1px;"><%= Setting.fetch_value(:app_name) %></h1>
        </td>
      </tr>
      <tr>
        <td style="background-color: #f9f9f9; padding: 40px 30px;">
          <p style="color: #1a1a1a; font-size: 16px; line-height: 1.5;">Привет, <%= @resource.first_name %>!</p>

          <p style="color: #1a1a1a; font-size: 16px; line-height: 1.5;">Похоже, вы (или кто-то другой) запросили смену пароля для <%= @resource.email %>. Чтобы задать новый пароль, просто нажмите:</p>

          <div style="text-align: center; margin: 40px 0;">
            <%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %>
          </div>

          <p style="color: #777; font-size: 14px;">Если вы не отправляли этот запрос — не переживайте, просто игнорируйте письмо.</p>
          <p style="color: #777; font-size: 14px;">Пароль останется прежним, пока вы не обновите его.</p>
        </td>
      </tr>
      <tr>
        <td style="background-color: #f9f9f9; text-align: center; border-top: 1px solid #f0f0f0; padding: 20px; color: #48C928; font-size: 12px;">
          <%= Setting.fetch_value(:app_name) %> | <a href="https://t.me/<%= Setting.fetch_value(:tg_main_bot) %>" style="color: #48C928;">https://t.me/<%= Setting.fetch_value(:tg_main_bot) %></a>
        </td>
      </tr>
    </table>
  </body>
</html>