<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" id="<%= dom_id order %>">
  <td class="w-4 p-4">
    <div class="flex items-center">
      <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
    </div>
  </td>
  <td class="px-6 py-4">
    <%= order.id %>
  </td>
  <td class="px-6 py-4">
    <span class="<%= order_status_class(order.status) %> text-xs font-medium me-2 px-2.5 py-0.5 rounded">
      <%= I18n.t("order.statuses.#{order.status}") %>
    </span>
  </td>
  <td class="px-6 py-4">
    <%= order.total_amount.to_i %>₽
  </td>
  <td class="px-6 py-4">
    <%= format_date order.created_at %>
  </td>
  <td class="px-6 py-4">
    <%= format_date order.updated_at %>
  </td>
  <td class="px-6 py-4">
    <%= order.tracking_number && order.tracking_number.match?(/http/) ? link_to(order.tracking_number, order.tracking_number, target: '_blank') : order.tracking_number %>
  </td>
  <td class="flex px-6 py-4">
    <%= link_to edit_admin_order_path(order), data: { controller: 'modal-btn', action: 'click->modal-btn#open', turbo_prefetch: false },
                class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' do %>
      <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
        <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path>
      </svg>
    <% end %>
  </td>
</tr>
