<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" id=<%= dom_id user %>>
  <td class="w-4 p-4">
    <div class="flex items-center">
      <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
    </div>
  </td>
  <td class="px-6 py-4"><%= user.id %></td>

  <th scope="row" class="py-4 w-full max-w-54">
    <%= render partial: 'user_name', locals: { user: user } %>
  </th>

  <td class="px-6 py-4 whitespace-nowrap"><%= user.phone_number %></td>

  <td class="px-6 py-4"><%= user.full_address %></td>

  <td class="px-6 py-4"><%= user.email %></td>

  <td class="px-6 py-4">
    <time data-controller="timeago"
          data-timeago-locale-value="ru"
          title="<%= format_date user.created_at %>"
          datetime="<%= user.created_at.iso8601 %>">
      <%= format_date user.created_at %>
    </time>
  </td>

  <td class="px-6 py-4"><%= t("roles.#{user.role}") %></td>

  <td class="px-6 py-4">
    <% if user.is_blocked %>
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
      </svg>
    <% else %>
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <rect width="12" height="12" x="6" y="6" stroke="currentColor" stroke-linejoin="round" stroke-width="2" rx="1"/>
      </svg>
    <% end %>
  </td>
  <td class="px-6 py-4">
    <% if user.started %>
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
      </svg>
    <% else %>
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <rect width="12" height="12" x="6" y="6" stroke="currentColor" stroke-linejoin="round" stroke-width="2" rx="1"/>
      </svg>
    <% end %>
  </td>
  <td class="px-6 py-4">
    <% if user.confirmed_at %>
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
      </svg>
    <% else %>
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <rect width="12" height="12" x="6" y="6" stroke="currentColor" stroke-linejoin="round" stroke-width="2" rx="1"/>
      </svg>
    <% end %>

  <td class="flex items-center px-6 py-4 gap-2">
    <%= link_to edit_admin_user_path(user), class: 'btn',
                data: { controller: 'modal-btn', action: 'click->modal-btn#open', turbo_prefetch: false } do %>
      <%= render Admin::IconComponent.new name: :edit %>
    <% end %>

    <%= button_to admin_user_path(user), method: :delete, class: 'btn btn-danger',
                  data: { confirm: 'Вы уверены, что хотите удалить данного пользователя?',
                          controller: 'confirm', action: 'click->confirm#call' } do %>
      <%= render Admin::IconComponent.new name: :trash %>
    <% end %>

    <%= link_to admin_messages_path(chat_id: user.tg_id), class: 'btn', data: { turbo_prefetch: false } do %>
      <%= render Admin::IconComponent.new name: :message %>
    <% end %>
  </td>
</tr>
