<div id="<%= dom_id product %>">
  <p>
    <%= product.name %>
  </p>

  <p>
    <%= product.price %>
  </p>

  <%= button_to 'Заказать', cart_items_path(cart_item: { product_id: product.id }) %>

  <p>
    <%= product.stock_quantity %>
  </p>

</div>
