<div id="<%= dom_id product %>" class="w-1/2 md:w-1/3 lg:w-1/4 2xl:w-1/5">
  <div class="product-wrapper">
    <div class="absolute right-3 top-3 z-10" style="<%= 'display: none' if ENV.fetch('HOST').include?('mirena') %>">
      <%= render partial: '/favorites/button', locals: { product: product } %>
    </div>
    <div class="product-img">
      <%= link_to product_path(product), data: { turbo_prefetch: false }, title: product.name do %>
        <div class="relative">
          <div role="status" class="flex justify-center space-y-8 animate-pulse md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
            <div class="flex items-center justify-center w-full h-48">
              <%= render IconComponent.new name: 'no-image', size: 40 %>
            </div>
          </div>
          <% if product.image.attached? %>
            <div class="absolute left-0 top-0 block w-full h-full">
              <div class="flex justify-center items-center h-full">
                <%= image_tag storage_path(product.image), alt: product.name, width: 196, height: 196,
                              loading: (@products.first == product ? 'eager' : 'lazy') %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="product-title">
      <%= link_to product.name, product_path(product), data: { turbo_prefetch: false }, title: product.name %>
    </div>
    <div class="product-footer">
      <% if product.stock_quantity.positive? %>
        <% if product.old_price.present? %>
          <div class="flex gap-1 mb-1 items-center">
            <div class="price"><%= product.price.to_i %>₽</div>
            <div class="old-price"><%= product.old_price.to_i %>₽</div>
          </div>
        <% else %>
          <div class="price-without-old"><%= product.price.to_i %>₽</div>
        <% end %>
        <%= turbo_frame_tag id="cart-btn-#{product.id}" do %>
          <%= render partial: '/products/btn', locals: { product: product } %>
        <% end %>
      <% else %>
        <div class="title-has">Нет в наличии</div>
        <%= render partial: '/product_subscriptions/btn', locals: { product: product } %>
      <% end %>
    </div>
  </div>
</div>
