<div class="mt-4 title-review">
  <h2>Оставить отзыв</h2>
  <%= link_to @review.product.name, product_path(@review.product), data: { turbo: false }, class: 'flex font-medium mt-1 mb-5' %>
</div>

<%= form_with(model: @review, url: (method == :patch ? product_review_path(@review) : product_reviews_path),
              data: { controller: :rating }, class: 'profile-form') do |form| %>
  <%= form.hidden_field :rating, data: { rating_target: "hiddenInput" } %>

  <div class="input-container mt-4 !mb-4">
    <label class="text-center !mb-2">Рейтинг</label>
    <div class="rating-stars">
        <% (1..5).each do |rate| %>
          <span class="<%= 'filled-star' if rate <= (@review.rating || 0) %>" data-action="click->rating#select" data-rating-target="stars" data-value="<%= rate %>">
            <%= render IconComponent.new name: :star, size: 32 %>
          </span>
        <% end %>
    </div>
  </div>

  <div class="input-container !mb-4">
    <%= form.label :content, 'Отзыв' %>
    <%= form.text_area :content, required: true, class: "input-str", rows: 3, minlength: 5, maxlength: 1000 %>
  </div>

  <div class="input-container !mb-4 review-photos" data-controller="image-input">
    <%= form.label :photos, 'Фотографии' %>
    <div class="flex gap-1 flex-wrap">
      <div data-image-input-target="preview" class="flex gap-1 flex-wrap"></div>
      <div class="wrapper-ico">
        <div class="add-img-ico">
          <%= render IconComponent.new name: 'add-img', size: 24 %>
        </div>
        <%= form.file_field :photos, accept: 'image/jpeg,image/png,image/webp,image/heic,image/heif',
                            multiple: !@is_android, class: "input-str" %>
      </div>
    </div>
  </div>

  <div class="mb-5 review-form-submit">
    <%= form.submit "Опубликовать", class: 'btn btn-big' %>
  </div>
<% end %>
