<div class="review">
  <div class="avatar"><%= render partial: '/layouts/partials/avatar', locals: { user: review.user, style: 'h-10 w-10' } %></div>

  <div class="review-body">
    <div class="font-semibold mb-1"><%= review.user.first_name %></div>
    <div class="stars">
      <% (1..5).each do |rate| %>
        <span class="<%= 'filled-star' if rate <= (review.rating || 0) %>">
          <%= render IconComponent.new name: :star, size: 12 %>
        </span>
      <% end %>
    </div>
    <div><%= review.content %></div>

    <% if review.photos.attached? %>
      <div class="img-block">
        <% review.photos.each do |photo| %>
          <div style="background-image: url('<%= storage_path(photo.variant(:thumb), true) %>'); background-size: cover;"></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
