<%= turbo_frame_tag :notices, class: "notice-group" do %>
  <% flash.each do |key, value| %>
    <% [value].flatten.each do |notices| %>
      <%= render partial: '/notices/notice', locals: { notices: notices, key: key } %>
    <% end %>
  <% end %>
<% end %>

<div class="header">
  <div class="container mx-auto">
    <div class="flex items-center justify-between">
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
      <% if user_signed_in? %>
        <%= button_to edit_user_registration_path, data: { turbo_prefetch: false }, id: "user",
                      title: current_user.first_name, method: :get do %>
          <%= image_tag image_path('user.svg') %>
        <% end %>
      <% else %>
        <%= image_tag image_path('user.svg') %>
      <% end %>

      <%= button_to 'strattera bot', root_path, class: 'logo', method: :get %>

      <% if user_signed_in? %>
        <%= render '/layouts/partials/cart' %>
      <% else %>
        <%= image_tag image_path('cart.svg') %>
      <% end %>
    </div>
  </div>
</div>
