<!DOCTYPE html>
<html data-controller="dark">
  <head>
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "admin", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header>
      <%= render partial: '/layouts/partials/admin/header' %>
    </header>

    <div class="body">
      <aside id="sidebar" class="sidebar"><%= render partial: '/layouts/partials/admin/aside' %></aside>

      <div class="sidebarBackdrop" id="sidebarBackdrop"></div>

      <div class="main-content" id="main-content">
        <main>
          <%= yield %>
        </main>

        <%= render partial: '/layouts/partials/admin/footer' %>
      </div>
    </div>
  </body>
</html>
