<!DOCTYPE html>
<html>
  <head>
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_stylesheet_tag 'admin' %>
    <%= vite_stylesheet_tag(ENV.fetch('HOST', '').include?('mirena') ? 'admin-mirena' : 'admin') %>
  </head>
  <body class="dark:bg-gray-900 antialiased">
    <%= yield %>
  </body>
</html>
