<!DOCTYPE html>
<html lang="ru">
<html data-controller="dark">
  <head>
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "application" %>
    <%= vite_stylesheet_tag "admin" %>
    <%= vite_javascript_tag "admin" %>
  </head>

  <body class="bg-white dark:bg-gray-900 antialiased" data-controller="menu-btn">
    <header>
      <%= render partial: '/layouts/partials/admin/header' %>
    </header>

    <div class="body">
      <aside id="sidebar" class="sidebar"><%= render partial: '/layouts/partials/admin/aside' %></aside>

      <div class="sidebarBackdrop bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop"></div>

      <div class="main-content bg-white dark:bg-gray-800" style="<%= yield :style %>" id="main-content" data-menu-btn-target="body">
        <main>
          <%= yield %>
        </main>

        <%= render partial: '/layouts/partials/admin/footer' %>
      </div>
    </div>
  </body>
</html>
