<!DOCTYPE html>
<html lang="ru">
  <head>
    <title><%= "#{settings[:app_name]&.capitalize}#{content_for(:title).present? ? " | #{content_for(:title)}" : ''}" %></title>
    <meta name="description" content="<%= settings[:app_name] %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <script src="https://telegram.org/js/telegram-web-app.js" defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            if (typeof Telegram !== "undefined") {
                <% if ENV.fetch('HOST', '').include?('mirena') %>
                  Telegram.WebApp.setHeaderColor('#3396a5');
                  Telegram.WebApp.setBackgroundColor('#3396a5');
                <% else %>
                  Telegram.WebApp.setHeaderColor('#FFFFFF');
                  Telegram.WebApp.setBackgroundColor('#FFFFFF');
                <% end %>
            }
        });
    </script>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_stylesheet_tag(ENV.fetch('HOST', '').include?('mirena') ? 'mirena' : 'application') %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body>
    <%= render '/layouts/partials/notices' %>

    <header><%= render partial: '/layouts/partials/header' %></header>

    <main>
      <div class="container mx-auto px-5">
        <%= yield %>
      </div>
    </main>
    <%= turbo_frame_tag 'cart-summary' do %>
      <%= render CartComponent.new cart: current_cart if current_user %>
    <% end %>

    <%= render partial: '/layouts/partials/footer' %>

    <%= render partial: '/layouts/partials/fixed_menu' %>

    <div id="modal" class="modal">
      <div class="bg-white w-full p-5 modal-block">
        <button class="close" onclick="closeModal()">
          <%= render IconComponent.new name: :close, size: 24 %>
        </button>
        <div id="modal-block"></div>
      </div>
    </div>

    <%= render partial: '/layouts/partials/yandex_metrica' if Setting.fetch_value(:ym).present? %>
  </body>
</html>
