<!DOCTYPE html>
<html lang="ru">
  <head>
    <title><%= content_for(:title) || "Mini app" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%# TODO: объединить с application %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application' %>
    <%= vite_stylesheet_tag 'style' %>
    <%= vite_javascript_tag 'application' %>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
  </head>

  <body>
    <%= render partial: '/layouts/partials/header' %>

    <main>
      <div class="container mx-auto">
        <div id="modal" class="modal right" style="display: block;">
          <h1 class="title-h">Корзина</h1>
          <div id="cart">
            <% if @cart_items.present? %>
              <%= render '/carts/cart' %>
            <% else %>
              <div><%= t('empty_cart') %></div>
            <% end %>
          </div>
        </div>

        <%= yield %>
      </div>
    </main>

    <%= render partial: '/layouts/partials/footer' %>
    <%= render partial: '/layouts/partials/yandex_metrika' %>
  </body>
</html>
